Web References/WebReference/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Data_Process">
        <s:complexType />
      </s:element>
      <s:element name="Data_ProcessResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetSysInfos">
        <s:complexType />
      </s:element>
      <s:element name="GetSysInfosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSysInfosResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConnectWithClient">
        <s:complexType />
      </s:element>
      <s:element name="ConnectWithClientResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="Data_ProcessSoapIn">
    <wsdl:part name="parameters" element="tns:Data_Process" />
  </wsdl:message>
  <wsdl:message name="Data_ProcessSoapOut">
    <wsdl:part name="parameters" element="tns:Data_ProcessResponse" />
  </wsdl:message>
  <wsdl:message name="GetSysInfosSoapIn">
    <wsdl:part name="parameters" element="tns:GetSysInfos" />
  </wsdl:message>
  <wsdl:message name="GetSysInfosSoapOut">
    <wsdl:part name="parameters" element="tns:GetSysInfosResponse" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="ConnectWithClientSoapIn">
    <wsdl:part name="parameters" element="tns:ConnectWithClient" />
  </wsdl:message>
  <wsdl:message name="ConnectWithClientSoapOut">
    <wsdl:part name="parameters" element="tns:ConnectWithClientResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="Data_Process">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">数据处理程序</wsdl:documentation>
      <wsdl:input message="tns:Data_ProcessSoapIn" />
      <wsdl:output message="tns:Data_ProcessSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSysInfos">
      <wsdl:input message="tns:GetSysInfosSoapIn" />
      <wsdl:output message="tns:GetSysInfosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConnectWithClient">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">创建与客户机的连接</wsdl:documentation>
      <wsdl:input message="tns:ConnectWithClientSoapIn" />
      <wsdl:output message="tns:ConnectWithClientSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Data_Process">
      <soap:operation soapAction="http://tempuri.org/Data_Process" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSysInfos">
      <soap:operation soapAction="http://tempuri.org/GetSysInfos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConnectWithClient">
      <soap:operation soapAction="http://tempuri.org/ConnectWithClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Data_Process">
      <soap12:operation soapAction="http://tempuri.org/Data_Process" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSysInfos">
      <soap12:operation soapAction="http://tempuri.org/GetSysInfos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConnectWithClient">
      <soap12:operation soapAction="http://tempuri.org/ConnectWithClient" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="http://192.168.172.1:8018/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="http://192.168.172.1:8018/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>